
{% extends "layout.html.twig" %}

{% block title %}
    Description d'un personnage - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}




       <h3>{{ advert.firstname }} {{ advert.lastname }} - Notation: {{ moyenne }}

           </h3>
    <div class="well">

        {% if advert.image is not null %}
        <img src="{{ asset(advert.image.uploadDir ~ '/' ~ advert.image.id ~ '.' ~ advert.image.url) }}"
             alt="{{ advert.image.uploadDir ~ '/' ~ advert.image.id ~ '.' ~ advert.image.url }}" width="600px" height="300px">
    {% endif %}
        {% for avis in listAvis %}
        <li>
            {{ avis.author }} - Note: {{ avis.note }} - Commentaire: {{ avis.content }}  <a href="{{ path('app_com_delete', {'id': avis.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </li>

        {% endfor %}
    </p>
    <p>
        <a href="{{ path('app_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('app_character_addCom', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Ajouter un avis
        </a>
        <a href="{{ path('app_character_delete', {'id': advert.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer le personnage
        </a>
    </p>
    </div>

{% endblock %}